/.phpunit.cache
/anti-slop/
/bootstrap/ssr
/bootstrap/cache/*.php
/node_modules
/public/build
/public/hot
/storage/app/backup-temp/
/storage/app/private/
/storage/framework/*
/storage/logs/*
/storage/*.key
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
